.n1 {
background-color: aqua;
}
.n2 {
    background-color: rgb(230, 134, 134);
    }
    .n3 {
        background-color: rgb(150, 181, 25);
        }
        .n4 {
            background-color: rgb(106, 0, 255);
            }
            .n5 {
                background-color: rgb(47, 88, 88);
                }
                .n6 {
                    background-color: rgb(201, 255, 4);
                    }
                    .n7 {
                        background-color: rgb(255, 234, 0);
                        }
.n8{
    background-color: azure;
}
.n9{
    background-color: blanchedalmond;
}
.n10{
    background-color: rgb(88, 171, 106);
}
.n11{
    background-color: rgb(242, 255, 240);
}
.n12{
    background-color: rgb(225, 97, 85);
}
.n13{
    background-color: rgb(255, 196, 242);
}
.n14{
    background-color: rgb(240, 240, 255);
}
.n15{
    background-color: rgb(205, 255, 253);
}
.n16{
    background-color: rgb(227, 158, 73);
}
.n17{
    background-color: rgb(121, 243, 243);
}
.n18{
    background-color: rgb(127, 153, 75);
}
.n19{
    background-color: rgb(235, 121, 115);
}
.n20{
    background-color: brown;
}
.n21{
    background-color: blanchedalmond;
}
.n22{
    background-color: rgb(176, 148, 112);
}.n23{
    background-color: azure;
}
.n24{
    background-color: rgb(174, 234, 231);
}
.n25{
    background-color: rgb(124, 163, 41);
}